* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-section {
    height: 100vh;
    background-color: seagreen;

    display: flex;
    flex-direction: column;
}

.hero-section nav {
    background-color: sienna;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.hero-section nav button {
    padding: 12px 16px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #ddbf14;
    color: sienna;
    font-size: 1.2rem;
    font-weight: bolder;
}

.hero-section nav button:hover {
    color: rgba(160, 81, 45, 0.698);
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}


.hidden {
    display: none;
}